*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

.debug .site_header{
    background-color: aqua;
}

.debug .site_header>.container{
    height: 40px;
    background-color: yellow;
}

.debug .site_logo, .debug .nav_link, .debug .login{
    border: 1px dashed black;
}

.debug .section_speak{
    background-color: blue;
}

.debug .link_open_app{
    height: 200px;
    background-color: brown;
} 

.debug .section_invite, .debug .section_community{
    background-color: darkgray;
}

.debug .section_invite .col-5 {
    border: 1px dashed black;
    height: 100%;
    background-color: pink;
    height: 200px;
}

.debug .section_invite .col-7 {
    border: 1px dashed black;
    height: 100%;
    background-color: dodgerblue;
    height: 200px;
}

.debug .section_room .col-5 {
    border: 1px dashed black;
    height: 100%;
    background-color: pink;
    height: 200px;
}

.debug .section_room .col-7 {
    border: 1px dashed black;
    height: 100%;
    background-color: dodgerblue;
    height: 200px;
}

.debug .section_community .col-5 {
    border: 1px dashed black;
    height: 100%;
    background-color: pink;
    height: 200px;
}

.debug .section_community .col-7 {
    border: 1px dashed black;
    height: 100%;
    background-color: dodgerblue;
    height: 200px;
}

/* Utility */

.col-3{
    width: calc((100% / 12) *3);
}

.col-5{
    width: calc((100% / 12) *5);
}

.col-6{
    width: calc((100% / 12) *6);
}

.col-7{
    width: calc((100% / 12) *7);
}

/* Header */

.site_header{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
}

.site_logo, .nav_link, .login{
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}

.site_logo{
    padding-left: 0.5rem;
}

.login{
    text-align: right;
    padding-right: 0.5rem;
}


.nav_link>ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
}

li>a{
    text-decoration: none;
    padding: 0.5rem;
}

/* Main */

.padding_section{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.link_open_app{
    width: 60%;
    margin: auto;
} 


